.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    font-style: none;
    line-height: 24px;
    font-weight: 500;
    overflow-x: hidden !important;
    text-align: left;
    position: relative;
    color: #999999;
    opacity: 0.9;
}

.sectionSeparator {
    padding: 50px 0;
    padding-top: 100px;
}

.darkContainer {
    background-color: #100e17;
    color: #ffffff;
    padding: 0 20px;
}

.darkContainer button:active {
    outline: none;
    border: none;
}

.darkContainer button:focus {
    outline: 0;
}

.darkContainer h2 {
    font-size: 42px;
    font-weight: 600;
    line-height: 54px;
    margin: 10px 0;
}

.darkContainer h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
}

.darkContainer h4 {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 30px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 10px 0;
    list-style-type: none;
}

.ap-nav {
    width: 100%;
}

.nav-sec {
    padding: 10px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #202026;
}

.nav-sec.nav-strict {
    padding: 10px 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.nav-sec .navbar-nav li {
    margin: 0 20px;
}

.nav-sec .navbar-nav .nav-link.active,
.nav-sec .navbar-nav .nav-item a:hover {
    color: #0bceaf;
}

.nav-sec .navbar-nav .nav-link.active {
    border-bottom: 1px solid #0bceaf;
}

.nav-sec .navbar-nav li a {
    border-bottom: 1px solid transparent;
    font-weight: bold;
    font-family: "roboto", sans-serif;
    font-size: 18px;
    opacity: 1;
    line-height: 30px;
}

.nav-sec .navbar-nav li a.nav-link {
    padding-left: 0;
    padding-right: 0;
}

.nav-strict {
    z-index: 99;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.ap-fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.whoAmI {
    background-color: #0bceaf;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 0px;
}

.animStyle {
    visibility: visible;
    animation-duration: 0.8s;
    animation-delay: 0.3s;
    animation-name: fadeInUp;
}

ul li a {
    color: #ffffff;
}

.fa,
.fab {
    margin-right: 15px;
    display: inline-block;
}

.fab {
    font-size: 18px;
}

#ap-header ul li .fa:hover {
    color: #0bceaf;
}

#ap-header ul li a {
    text-decoration: none !important;
    cursor: pointer;
    padding: 0px;
    background-color: transparent;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    opacity: 0.9;
}

#ap-header ul li a:hover {
    color: #ffffff;
}

#ap-header ul li address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
    display: inline-block;
}

.ap-header-padding {
    padding: 180px 0;
}

.ap-header-padding1 {
    padding-top: 50px;
}

.ap-header-padding2 {
    padding-top: 30px;
}

.heroineImage {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.heroineImageBorder {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border-radius: 50%;
    border: 20px solid rgba(0, 0, 0, 0.6);
}

.heroineImage img {
    margin: 0 auto;
    float: none;
    text-align: center;
    border: 20px solid rgba(0, 0, 0, 0.17);
    border-radius: 50%;
}


/* About Section */

#ap-about ul li {
    margin: 0px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px 0px;
    display: inline-block;
}

#ap-about ul li span {
    border: 1px solid #0bceaf;
    padding: 4px 10px;
    border-radius: 4px;
}

.aboutMeImg {
    max-width: 100%;
    height: auto;
}

.downloadBtn {
    color: #ffffff;
    background-color: #0ab69a;
    padding: 8px 30px;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;
}


/*
    ==============
       SKILLS
    ==============
*/

.mh-skills .mh-professional-skill {
    padding-right: 60px;
}

.mh-skills .mh-professional-skill h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
}

.mh-professional-skills {
    padding-left: 20%;
}

.mh-professional-skills h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
}

.mh-professional-progress li {
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center;
}

.ap-progress {
    margin-bottom: 10px;
    font: 900 1.1428571429em/1 Cinzel, cursive;
}

.ap-progress .progressbar-text {
    color: inherit !important;
}

.progress.progress-line {
    height: 10px;
    margin-right: 60px;
}

.progress.progress-line .progressbar-text {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 60px;
    -webkit-transform: translateY(-35%);
    transform: translateY(-35%);
    text-align: center;
}

.ap-progress.ap-progress-circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
}

.ap-progress path:nth-child(1) {
    stroke: rgba(0, 0, 0, 0.7);
}

.ap-progress path:nth-child(2) {
    stroke: #0bceaf;
}

.skillItem {
    position: relative;
    margin-bottom: 15px;
}

.skillItem .skillSet {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.skillItem .skillSet .skillInfo {
    position: relative;
}

.skillItem .skillSet .skillInfo .skillName {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9;
}

.skillItem .skillSet .skillInfo .techSkillRating {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    font-weight: normal;
}

.skillItem .skillSet .progressBar {
    position: relative;
    width: 100%;
    height: 7px;
    margin: 30px 0 2px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.skillItem .skillSet .skillPercentage {
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #0bceaf;
    -webkit-transition: 3s all;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: animationProgress;
}

.skillItem .skillSet .partidas {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.percentual {
    -webkit-animation-name: animationProgress;
    animation-name: animationProgress;
}

@-webkit-keyframes animationProgress {
    from {
        width: 0;
    }
}

@keyframes animationProgress {
    from {
        width: 0;
    }
}

.jsWidth {
    width: 85%;
}

.tsWidth {
    width: 80%;
}

.ngWidth {
    width: 74%;
}

.reactWidth {
    width: 45%;
}

.htmlWidth {
    width: 90%;
}

.cssWidth {
    width: 90%;
}

.commSkill {
    stroke-dasharray: 298.493, 298.493;
    stroke-dashoffset: 14.9247;
}

.projectMgntSkill {
    stroke-dasharray: 298.493, 298.493;
    stroke-dashoffset: 134.322;
}

.teamWorkSkill {
    stroke-dasharray: 298.493, 298.493;
    stroke-dashoffset: 41.789;
}

.creativeSkill {
    stroke-dasharray: 298.493, 298.493;
    stroke-dashoffset: 119.397;
}

.skillsCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0px;
    margin: 0px;
    transform: translate(-50%, -50%);
    color: rgb(85, 85, 85);
}

.experienceItem {
    margin-bottom: 30px;
    padding: 26px 30px;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: -1rem 0 3rem #000;
}

#ap-timeline h4 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

#ap-timeline h4 span {
    font-style: italic;
    margin-left: 4px;
    color: #0bceaf;
}

.eduYear,
.expYear {
    margin: 10px 0;
    color: #0bceaf;
    font-size: 13px;
}

#ap-testimonials h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px;
}

blockquote {
    margin: 0 auto;
    padding: 1em;
    border-left: 5px solid #999;
}

blockquote:before {
    display: none;
}

blockquote:not(:first-of-type) {
    margin-top: .5em;
}

blockquote p {
    color: #555;
    font-size: 12pt;
    line-height: 1.4;
    font-style: italic;
}

blockquote footer {
    margin-top: .5em;
    padding: 0;
    color: #0bceaf;
    font-size: 16px;
    text-align: left;
}

blockquote footer span {
    font-size: 14px;
}

blockquote footer:before {
    content: '— ';
}

blockquote:nth-of-type(even) {
    text-align: right;
    border-left: none;
    border-right: 5px solid #999;
}

blockquote:nth-of-type(even) footer {
    text-align: right;
}

blockquote:nth-of-type(even) footer:before {
    content: '';
}

blockquote:nth-of-type(even) footer:after {
    content: ' —';
}

@element 'blockquote' and (min-width: 300px) {
    blockquote {
        padding: 1em 20% 1em 1em;
    }
    blockquote p {
        font-size: 14pt;
    }
    blockquote:nth-of-type(even) {
        padding: 1em 1em 1em 20%;
    }
}